<h1>Quora Clone / Homepage</h1>
<h3>Welcome to Grace's quoraclone!</h3>
<p>This is the HOMEPAGE! If you are logged in you will see your email in the navbar. Otherwise it will give you 'login' or 'signup options</p>

<a href="/questions"><h2>View Questions ></a>
