<h1>Quora Clone</h1>
<h1>Enter your details below to create a account</h1>
<form action="/signup" method="POST">

    <input name="first_name" placeholder="Enter First Name">
    <input name="last_name" placeholder="Enter Last Name">
    <input name="email" placeholder="Enter Email">
    <input name="username" placeholder="Create Username">
    <input name="password" placeholder="Create Password">
    <input type="submit" value="Sign Up">
</form>